.theme-toggle {
    angle: 0 deg;
    opacity: 1;
    border-width: 1px;
    border-radius: 100px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;


    // .theme-toggle__knob

    &__knob {
        display: block;
    }

    // .theme-toggle__option

    &__option {
        display: block;
        width: 2rem;
        height: 2rem;
        angle: 0 deg;
        opacity: 1;
        border-radius: 100px;
        padding: 1px;
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;

        &_light {
            background-image: url('@/images/icons/sun.svg');
            background-color: var(--text-accent);
            transition: background-color 0.3s ease;

            html[data-theme="dark"] & {
                background-color: var(--bg-primary);
            }
        }

        &_dark {
            margin-left: 6px;
            background-image: url('@/images/dark.svg');
            transition: background-color 0.3s ease;

            html[data-theme="dark"] & {
                background-color: var(--text-accent);
            }
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:hover &__option {

        &_light {
            transition: background-color 0.3s ease;
            html[data-theme="dark"] & {
                background-color: var(--bg-container);
            }
        }

        &_dark {
            html[data-theme="light"] & {
                background-image: url('@/images/dark_invert.svg');
            }
        }
    }
}