@use '../shared' as *;

.menu__button {
    display: inline-flex;

    @include tablet {
        display: none;
    }

    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
    border-bottom: 1.5px solid transparent;

    &:not(.header__nav-link_active):hover {
        text-decoration: none;
        border-color: currentColor;
        transition: border-color 0.2s;
    }

    &-icon {
        display: block;
        width: 20px;
        height: 20px;
        background-image: var(--menu-button-icon);
        background-size: 100%;
    }
}


.header {
    position: relative;

    // .header__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__nav

    &__nav {
        display: flex;


        justify-content: center;
        gap: 40px;

        @include tablet {
            display: none;
        }

        @include before-tablet {
            gap: 24px;
        }

        // .header__nav-link
        &-link:not(.menu__button) {
            text-decoration: underline;
            text-decoration-color: transparent;
        }

        &-link {
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0%;
            color: var(--text-primary);
            text-underline-offset: 5px;
            transition: text-decoration-color 0.3s ease;

            // &:hover,
            // &_active {
            //     text-decoration-color: var(--text-primary);
            //     cursor: pointer;
            // }
            &:hover {
                text-decoration-color: var(--text-primary);
                cursor: pointer;
            }

            &_active {
                text-decoration-color: var(--text-primary);
                cursor: pointer;
            }
        }

    }

    // .header__right

    &__right {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}