@use '../shared' as *;

.menu__button {
    display: inline-flex;

    @include tablet {
        display: none;
    }

    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: inherit;
    border-bottom: 1.5px solid transparent;
    transition: border-color 0.2s;

    &:not(.header__nav__link_active):hover {
        text-decoration: none;
        border-color: currentColor;
    }
}


.header {

    // .header__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .header__nav

    &__nav {
        display: flex;

        @include tablet {
            display: none;
        }

        justify-content: center;
        gap: 40px;

        // .header__nav__link

        &__link {
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0%;
            color: $bg-overlay-color;
            text-decoration: none;

            &:hover,
            &_active {
                text-decoration: underline;
                text-underline-offset: 5px;
                cursor: pointer;
            }

        }
    }

    // .header__right

    &__right {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.burger {
    position: relative;
    width: 44px;
    height: 44px;
    // angle: 0 deg;
    opacity: 1;
    border-width: 1px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    .hr {
        display: block;
        width: 1rem;
        height: 1px;
        background-color: $text-primary-color;
    }

    &:hover {
        cursor: pointer;
    }

}

.burger {
    display: none;



    @include tablet {
        display: flex;
    }
}