@use '../shared' as *;

.menu__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.menu__caption {
    max-width: 800px;
}

.menu-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &__button {
        // width: 200px;
        height: 46px;
        border-radius: 100px;
        border-width: 1px;
        display: grid;
        grid-template-columns: 30px 1fr;
        grid-template-rows: 1fr;
        column-gap: 8px;

        justify-items: start;
        align-items: center;
        align-content: center;
        color: var(--text-primary);
        background-color: var(--bg-primary);
        border-color: (--text-primary);
        padding-right: 1rem;



        &-icon {
            display: block;
            width: 30px;
            height: 30px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            align-self: center;
            justify-self: end;

            background-color: var(--border-primary);
            border-radius: 50%;




            // .icon_apple

            &_coffee {
                background-image: url('@/images/icons/coffee.png');
            }

            &_tea {
                background-image: url('@/images/icons/tea.png');
            }

            &_desert {
                background-image: url('@/images/icons/desert.png');
            }

        }

        &_active {
            color: var(--text-inverse);
            background-color: var(--bg-container);
        }

        &:hover {
            background-color: var(--border-inverse);
            color: var(--text-inverse);
            cursor: pointer;

            .download__button-icon {
                background-color: var(--text-inverse);
            }
        }

        // .download__button-text

        &-text {
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 10px;
            line-height: 140%;
            letter-spacing: 0%;
            text-align: center;
        }

        // .download__button-caption

        &-caption {
            font-family: Inter;
            font-weight: 600;
            font-style: Semi Bold;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0%;

        }
    }
}

.menu-cards {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.menu-card {
    box-sizing: border-box;
    width: 310px;
    // height: 506px;
    opacity: 1;
    border-radius: 40px;
    border-width: 1px;
    border: 1px solid var(--border-primary);

    &_extra {
        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }
    }

    // .menu-card__image

    &__image {
        border-radius: 40px;
        overflow: hidden;
        width: 310px;
        height: 310px;

        img {
            transform: scale(1.1);
            /* Изначально увеличены на 10% (заполняем края) */
            transition: transform 0.4s ease;

            &:hover {
                transform: scale(1);
            }
        }

    }

    // .menu-card__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        gap: 12px;
        padding: 20px;
        min-height: 196px;
    }

    // .menu-card__title

    &__title {
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 125%;
        letter-spacing: 0%;
        margin: 0;
    }

    // .menu-card__description

    &__description {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 150%;
        letter-spacing: 0%;
        margin: 0;
        flex-grow: 2;
    }

    // .menu-card__price

    &__price {
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 125%;
        letter-spacing: 0%;

    }
}