$color-white: #ffffff;

$text-primary-color: #403F3D;
$text-inverse-color: #E1D4C9;
$text-accent-color: #B0907A;

$bg-primary-color: #E1D4C9;
$bg-container-color: #665F55;
$bg-overlay-color: #403F3DCC;

$border-primary-color: #C1B6AD;
$border-inverse-color: #665F55;

// _variables.scss
$breakpoint-tablet: 920px;
$breakpoint-mobile: 716px;

:root {
    --color-white: #{$color-white};

    --text-primary: #{$text-primary-color};
    --text-inverse: #{$text-inverse-color};
    --text-accent: #{$text-accent-color};

    --bg-primary: #{$bg-primary-color};
    --bg-container: #{$bg-container-color};
    --bg-overlay: #{$bg-overlay-color};

    --border-primary: #{$border-primary-color};
    --border-inverse: #{$border-inverse-color};
    // ...
    color-scheme: light;
}