$color-white: #ffffff;

$text-primary-color: #403F3D;
$text-inverse-color: #E1D4C9;
$text-accent-color: #B0907A;

$bg-primary-color: #E1D4C9;
$bg-container-color: #665F55;
$bg-overlay-color: #403F3DCC;

$border-primary-color: #C1B6AD;
$border-inverse-color: #665F55;

// _variables.scss
$breakpoint-before-tablet: 920px;
$breakpoint-tablet: 769px;
$breakpoint-mobile: 425px;

:root {
    color-scheme: light;
    --color-white: #{$color-white};

    --text-primary: #{$text-primary-color};
    --text-inverse: #{$text-inverse-color};
    --text-accent: #{$text-accent-color};

    --bg-primary: #{$bg-primary-color};
    --bg-container: #{$bg-container-color};
    --bg-overlay: #{$bg-overlay-color};

    --border-primary: #{$border-primary-color};
    --border-inverse: #{$border-inverse-color};

    --logo-image-url: url('@/images/logo.svg');
    --menu-button-icon: url('@/images/icons/coffee-cup_dark.svg');
    // ...
}

[data-theme="dark"] {
    color-scheme: dark;
    --text-primary: #E1D4C9; // светлый текст вместо тёмного
    --text-inverse: #E1D4C9; // тёмный текст на светлых элементах
    --text-accent: #B0907A; // акцент чуть светлее, чтобы читался

    --bg-primary: #292826; // тёмный фон страницы
    --bg-container: #403F3D; // контейнеры чуть светлее фона
    --bg-overlay: #292826; // оверлей в светлых тонах

    --border-primary: #665F55; // границы на тёмном
    --border-inverse: #C1B6AD; // границы на светлом
    --logo-image-url: url('@/images/logo-invert.svg');
    --menu-button-icon: url('@/images/icons/coffee-cup.svg');

}